* {
  font-family: "ABeeZee", sans-serif;
  margin: 0;
  font-size: 20px;
}

h1 {
  font-family: "Akaya Telivigala", cursive;
  font-size: 1.5rem;
}

.container {
  position: relative;
}

.intro-text {
  background-color: rgba(34, 34, 34);
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
  width: 100%;
  text-align: center;
}

.intro-text p {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 10px;
  margin-bottom: 10px;
}

img {
  margin: 0;
  display: block;
}

/* desktop/laptop styles */

@media screen and (min-device-width: 1200px) {
  .intro-text p {
    width: 40%;
  }
}
